{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}
<a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>
<a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
<a href="https://medium.com/@{{ author.medium }}"><i class="fab fa-fw fa-medium" aria-hidden="true"></i> </a>
<a href="https://pberba.github.io/feed.xml"><i class="fas fa-rss-square" aria-hidden="true"></i></a>
